// Typography module

// Google font imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

p {
    font-size: 1.25em;
}

.text-complementary{
    font-family: $font-complementary;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 3px;
    font-weight: 400;
}

@include media-breakpoint-down(md) {
    h1,.h1 {
        font-size: $h1-font-size-sm;
    }
    h2,.h2 {
        font-size: $h2-font-size-sm;
    }
    h3,.h3 {
        font-size: $h3-font-size-sm;
    }
    h4,.h4 {
        font-size: $h4-font-size-sm;
    }
    h5,.h5 {
        font-size: $h5-font-size-sm;
    }
    h6,.h6 {
        font-size: $h6-font-size-sm;
    }
}

a, a:hover {
    text-decoration: none;
}