// Bootstrap + global variables

// Colours
$mtc-primary: #D4B254;
$mtc-light: #EEEEEE;

// Theme Colors
$theme-colors: (
    "mtc-primary": $mtc-primary,
    "mtc-light": $mtc-light,
    "white": #fff
);

// Letter spacing
$mtc-char-spacing: 4px;

// Typography
$headings-font-weight: 600;
$headings-font-family: "Helvetica", "Inter", "Open Sans",  sans-serif;
$headings-line-height: 1.18;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-weight-normal: 300 !default;

$font-complementary: $font-family-sans-serif;
$h1-font-size: 3.4em;
$h2-font-size: 2.5em;
$h3-font-size: 2.2em;
$h4-font-size: 1.9em;
$h5-font-size: 1.5em;
$h6-font-size: 1em;

$h1-font-size-sm: 2.5em;
$h2-font-size-sm: 2.1em;
$h3-font-size-sm: 1.7em;
$h4-font-size-sm: 1.4em;
$h5-font-size-sm: 1.1em;
$h6-font-size-sm: .9em;

// Buttons
$btn-border-radius: 50px !default;
$btn-border-radius-lg: 50px !default;
$btn-border-radius-sm: 50px !default;

$btn-font-weight: 300 !default;
$btn-font-family: $font-family-sans-serif !default;
$btn-border-width: 2px !default;

$btn-padding-x: 80px !default;
$btn-padding-y: 27px !default;
$btn-font-size: 1.2rem !default;

$btn-padding-x-sm: 33px !default;
$btn-padding-y-sm: 16px !default;
$btn-font-size-sm: 1rem !default;
