// Colours
$primary: #D4B254;

// Typography
$headings-font-weight: 600;
$headings-font-family: "Helvetica", "Lato", "Open Sans",  sans-serif;
$headings-line-height: 1.23;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-weight-normal: 300 !default;

$font-complementary: $font-family-sans-serif;
$h1-font-size: 52pt;
$h2-font-size: 3.51em;
$h3-font-size: 2.67em;
$h4-font-size: 2em;
$h5-font-size: 1.5em;
$h6-font-size: 1em;

// Buttons
$btn-border-radius: 50px !default;
$btn-border-radius-lg: 50px !default;
$btn-border-radius-sm: 50px !default;

$btn-font-family: $headings-font-family !default;
$btn-font-weight: $headings-font-weight;
$btn-border-width: 2px !default;

$btn-padding-y-sm: 12px !default;
$btn-padding-x-sm: 24px !default;
$btn-font-size-sm: .775rem !default;

$btn-padding-y: 14px !default;
$btn-padding-x: 28px !default;
$btn-font-size: .95rem !default;

$btn-padding-y-lg: 16px !default;
$btn-padding-x-lg: 32px !default;
$btn-font-size-lg: 1.1rem !default;